body{

  background-image: url("https://wallpapercrafter.com/desktop/162467-PC-gaming-game-art-video-games-video-game-art-Gris-Video-Game.jpg") ;
  background-size: cover;
}


h1{
  text-align: center;
  background-color: black;
  color: #f1f1f1;
}

.container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.string{
  width: 50%;
  text-align: center;
}

.img{
  width: 60%;
  border-radius: 10px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.big{
  width: 700px;
  height:400px;
}

.visual{
  text-align: center;
  width: 60%;
  height: 50vh;
  
}

#perdu{
  background-color: red;
  color: #f1f1f1;
  text-align: center;
  width: 45%;
}

#motATrouver{
  font-weight: 900;
  font-size: 2rem;
}

#input{
  padding: 1em;
  border-radius: 10px;
}

span{
  text-align: center;
}